.navbar-light .navbar-nav .nav-link {
    color: #000;
}

#userName {
    border-radius: 25%;
    background-color: black;
    opacity: 90%;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
}


/*h1 {*/
/*    border-radius: 30px;*/
/*    background-color: deepskyblue;*/
/*    opacity: 90%;*/
/*    align-content: center;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/


/*h4 {*/
/*    border-radius: 80px;*/
/*    background-color: slategray;*/
/*    height: 100px;*/
/*    align-content: center;*/
/*    text-align: center;*/
/*    color: black;*/
/*}*/