body{

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(255, 255, 255, 0.7) );

    background-image: url("../images/landingPagePics/LP3.jpg");
    min-height: 100vh;
    width: 100%;

    background-position: center;
    background-size: cover;
    position: relative;

}

.Welcome {
    overflow: hidden;
    background: #eaeaea;
    color: #434343;
    padding: 1rem;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    box-sizing: inherit;

    margin-left: 25%;

    margin-right: 25%;




    /*width: 100px;*/
}
/*.neonText {*/
/*    color: #fff;*/
/*    text-shadow:*/
/*            0 0 7px #fff,*/
/*            0 0 10px #fff,*/
/*            0 0 21px #fff,*/
/*            0 0 42px #bc13fe,*/
/*            0 0 82px #bc13fe,*/
/*            0 0 92px #bc13fe,*/
/*            0 0 102px #bc13fe,*/
/*            0 0 151px #bc13fe;*/
/*}*/

h1 {
    border-radius: 30px;
    background-color: deepskyblue;
    opacity: 90%;
    align-content: center;
    text-align: center;
    color: white;
}


/*#h3 {*/
/*    font-size: 100px;*/
/*    animation: pulsate 1.5s infinite alternate;*/
/*    border: 0.2rem solid #fff;*/
/*    border-radius: 2rem;*/
/*    padding: 0.4em;*/
/*    box-shadow: 0 0 .2rem #fff,*/
/*    0 0 .2rem #fff,*/
/*    0 0 2rem #bc13fe,*/
/*    0 0 0.8rem #bc13fe,*/
/*    0 0 2.8rem #bc13fe,*/
/*    inset 0 0 1.3rem #bc13fe;*/
/*}*/

/*@keyframes pulsate {*/

/*    100% {*/

/*        text-shadow: 0 0 4px #fff,*/
/*        0 0 11px #fff,*/
/*        0 0 19px #fff,*/
/*        0 0 40px #bc13fe,*/
/*        0 0 80px #bc13fe,*/
/*        0 0 90px #bc13fe,*/
/*        0 0 100px #bc13fe,*/
/*        0 0 150px #bc13fe;*/

/*    }*/

/*    0% {*/

/*        text-shadow: 0 0 2px #fff,*/
/*        0 0 4px #fff,*/
/*        0 0 6px #fff,*/
/*        0 0 10px #bc13fe,*/
/*        0 0 45px #bc13fe,*/
/*        0 0 55px #bc13fe,*/
/*        0 0 70px #bc13fe,*/
/*        0 0 80px #bc13fe;*/

/*    }*/


/*}*/