body {

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(255, 255, 255, 0.7));

    background-image: url("../images/reviewpage.jpg");
    min-height: 100vh;
    width: 100%;

    background-position: center;
    background-size: cover;
    position: relative;

}

#form {
    background-color: white;
    opacity: 80%;

}


table {
    background-color: white;
    opacity: 85%;
    border-radius: 20px;

}


table .results:hover {

    background-color: #333333;
    color: white;

}

h2 {
    border-radius: 80px;
    background-color: darkslategray;
    opacity: 90%;
    align-content: center;
    text-align: center;
    color: white;
}
table .results:hover {
    /*opacity: 100%;*/
    /*width: 105%;*/
    /*height: 105%;*/
    /*transition: .2s;*/
    background-color: #333333;
    color: white;

}